/* template editor */

/*-- editor */
.wcpt-block-editor {
  margin: 0;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.wcpt-element-block {
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-flex;
  vertical-align: middle;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px #0000003d;
  cursor: pointer;
  font-size: 14px;
  transition: 0.15s border-color;
  transform: scale(1);
  background: var(--wcpt-color-blue);
  color: white;
  flex-direction: row;
  align-items: center;
}

.wcpt-element-block:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.wcpt-element-block span.wcpt-element-block__settings-icon {
  opacity: 1;
  color: #fff;
  margin-left: 0.5em;
  vertical-align: middle;
}

[data-type="dot"].wcpt-element-block {
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

.wcpt-element-block .wcpt-icon-rep {
  margin-right: 0 !important;
  color: white;
  filter: invert(100%);
  opacity: 0.75;
}

.wcpt-element-block .wcpt-be-label-icon {
  color: white;
  filter: invert(1);
  width: 1em;
  position: relative;
  left: -0.2em;
  margin-right: 0.2em;
  opacity: 0.7;
}

.wcpt-element-block .wcpt-be-label-icon[data-wcpt-icon="sort"] {
  width: 1.2em;
  margin-right: -0.1em;
}

.wcpt-element-block .wcpt-be-label-icon[data-wcpt-icon="rotate-ccw"] {
  width: 0.9em;
}

.wcpt-element-block-placeholder {
  opacity: 0.25;
  height: 34px;
  /* max-width: calc(100% - 10px); */
}

.wcpt-element-block span {
  opacity: 0.75;
  font-style: italic;
  margin-left: 4px;
}

.wcpt-block-editor-row {
  padding: 10px 30px 10px 10px;
  width: 100%;
  border-radius: 4px;
  background: white;
  border: 2px solid #f0f0f0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
}

.wcpt-block-editor-row.ui-sortable-placeholder {
  min-height: 64px;
  margin-bottom: -6px;
}

.wcpt-block-editor-row:last-child {
  margin-bottom: 0;
}

.wcpt-block-editor-edit-row,
.wcpt-block-editor-delete-row {
  position: absolute;
  top: 10px;
  right: -12px;
  transform: translate(-50%, 0);
  font-size: 16px;
  cursor: pointer;
  background: #fbfbfb;
  border: 1px solid #ddd;
  padding: 10px;
  line-height: 10px;
  border-radius: 100%;
  transition: 0.2s;
}

.wcpt-block-editor-edit-row:hover,
.wcpt-block-editor-delete-row:hover {
  background: white;
  border-color: rgba(0, 0, 0, 0.3);
}

.wcpt-block-editor-edit-row + .wcpt-block-editor-delete-row {
  right: 30px;
}

/*-- lightbox */

body.wcpt-be-lightbox-on {
  overflow-y: hidden !important;
}

.wcpt-block-editor-lightbox-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  z-index: 10000;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}

.wcpt-block-editor-lightbox-screen * {
  box-sizing: border-box;
}

.wcpt-block-editor-lightbox-content {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 600px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  transform: translateX(-50%);
  padding: 70px 40px 35px;
  margin-bottom: 40px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ddd;
}

.wcpt-block-editor-lightbox-content:before {
  content: "";
  position: absolute;
  display: block;
  left: -10px;
  top: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wcpt-block-editor-lightbox-tray {
  position: absolute;
  right: -65px;
  top: -1px;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1em;
}

.wcpt-block-editor-lightbox-close,
.wcpt-block-editor-lightbox-done,
.wcpt-block-editor-lightbox-remove,
.wcpt-block-editor-lightbox-duplicate {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: inline-block;
  clear: both;
  border-radius: 3px;
  transition: 0.2s color;
  /* border: 2px solid rgba(255, 255, 255, 0.15); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.wcpt-block-editor-lightbox-close {
  background: rgba(0, 0, 0, 0.05);
  color: black;
  box-shadow: none;
}

.wcpt-block-editor-lightbox-done {
  background: #4caf50;
}

.wcpt-block-editor-lightbox-remove {
  background: #f44336;
}

.wcpt-block-editor-lightbox-duplicate {
  background: #2196f3;
}

.wcpt-block-editor-lightbox-done:hover,
.wcpt-block-editor-lightbox-remove:hover,
.wcpt-block-editor-lightbox-duplicate:hover {
  color: white;
}

.wcpt-block-editor-lightbox-content h2 {
  font-weight: normal;
  background: rgb(247, 247, 247);
  border-bottom: 4px solid #f3f3f3;
  padding: 24px 40px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: capitalize;
  /* box-sizing: border-box; */
}

.wcpt-block-editor-lightbox-content textarea {
  width: 100%;
  height: 80px;
  font-size: 16px;
  padding: 8px 10px;
  line-height: 1.25em;
}

/*-- add elms */
.wcpt-block-editor-element-type-heading {
  font-weight: bold;
  font-size: 20px;
  margin: 40px 0 0;
  display: block;
}

.wcpt-block-editor-element-type-list {
  padding: 0;
  max-width: 700px;
  margin: 20px 0 -5px 0;
}

.wcpt-block-editor-element-type-list__search {
  background: #f7f7f7;
  margin: 20px 0;
  height: 40px;
  border-radius: 5px;
  position: relative;
}

.wcpt-block-editor-element-type-list__search__icon {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  color: #aaa;
}

input.wcpt-block-editor-element-type-list__search__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  border-color: #a7a7a7;
  box-shadow: none;
  padding: 0 40px 0 15px;
  font-size: 16px;
}

.wcpt-block-editor-element-type-divider {
  margin: 20px 0 30px;
  display: block;
}

.wcpt-block-editor-element-type {
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0 15px 15px 0;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #ffffff;
  border-bottom-color: #f1f1f1;
  border-right-color: #f1f1f1;
  box-shadow: 2px 2px 4px #d4d4d4;
  cursor: pointer;
  font-size: 16px;
  transition: 0.15s border-color;
  transform: scale(1);
  background: linear-gradient(-15deg, #fbfbfb, #efefef);
}

.wcpt-block-editor-element-type:hover {
  background: #f9f9f9;
  border-color: #42a5f5;
}

.wcpt-block-editor-element-type.wcpt-disabled {
  color: #848484 !important;
  cursor: default;
  border-color: #f3f3f3;
  background: #f9f9f9 !important;
}

.wcpt-block-editor-element-type + .wcpt-clear {
  margin: 10px 0 20px;
  border-top: 1px solid #f1f1f1;
}

.wcpt-block-editor-add-element,
.wcpt-block-editor-add-row {
  color: rgb(0 0 0 / 60%);
  padding: 7px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: 1px dashed #ccc;
  border-radius: 4px;
}

/* .wcpt-block-editor-add-row {
  margin-top: 5px;
  padding: 14px 12px;
} */

.wcpt-block-editor-add-element {
  text-shadow: 1px 1px 1px white;
}

.wcpt-block-editor-add-element:hover,
.wcpt-block-editor-add-element:focus {
  outline: none;
  box-shadow: none;
}

.wcpt-block-editor-sorting .wcpt-block-editor-add-element {
  display: none;
}

/* mark */
.wcpt-be-mark {
  opacity: 0.5;
  animation: wcpt_be_opacity_mark 0.5s infinite alternate;
  animation-iteration-count: 1;
}

@keyframes wcpt_be_opacity_mark {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
